<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fdc.pixelcare">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>       <!--To access accounts configured on device-->
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>  <!--To use account credentials -->

   <!-- <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/> -->

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- The following two permissions are required for location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="com.fdc.pixelcare.permission.MAPS_RECEIVE" />
    <!--<uses-library android:name="com.google.android.maps" />-->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.location" android:required="true" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <permission
        android:name="com.fdc.pixelcare.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    
    <application
        tools:replace="android:allowBackup"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/pixel_launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/pixel_launcher_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activities.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".Activities.FacebookVerifyOTPActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".Activities.VerifyOTPActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <receiver android:name=".Utils.MySMSBroadCastReceiver" >
            <intent-filter android:priority="999" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name=".Activities.DashboardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key1" />

       <activity android:name=".Activities.Home.HospitalListsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".Activities.Home.HospitalDoctorsActivity"
           android:screenOrientation="portrait"
           android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".Activities.Home.HospitalDoctorSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".Activities.Home.HospitalSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".Activities.Home.HospitalMapDoctorsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".Activities.Home.HospitalMapDoctorSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".Activities.Appointments.DoctorsProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".Activities.Appointments.BookAppointmentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".Activities.Appointments.AddAddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".Activities.Appointments.AppointmentListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".Activities.Appointments.DoctorsListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".Activities.Appointments.DoctorSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".Activities.Opinions.OpinionListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".Activities.Opinions.MedicalOpinionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".multipleImageUpload.MedicalReportsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".Activities.Others.FamilyMemberActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".Activities.Others.ContactUsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".Activities.Others.AboutUsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".Activities.Others.WebViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".Activities.Others.BlogListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".Activities.Others.BlogDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".Activities.Consultations.ConsultationListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".Activities.Consultations.ViewOphthalVisitDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>


    </application>

</manifest>